DISCORD_TOKEN=
DISCORD_APP_ID=
DISCORD_PUBLIC_KEY=
NICEHASH_API_KEY=
NICEHASH_API_SECRET=
NICEHASH_ORG_ID=
BRAIINS_OWNER_TOKEN=
BRAIINS_READONLY_TOKEN=
INTERNAL_CAPACITY_API=
INTERNAL_CAPACITY_TOKEN=
INTERNAL_FULFILL_URL=
INTERNAL_FULFILL_TOKEN=
ALLOWED_POOLS=stratum+tcp://yourpool:3333,stratum+tcp://anotherpool:4444
PRICE_MARGIN_BPS=100
NICEHASH_FEE_BPS=200
BRAIINS_FEE_BPS=200
FLOOR_USD_PER_PH_DAY=0
BETA_BUFFER_BPS=1000
MIN_PH=
MAX_PH=
MIN_HOURS=
MAX_HOURS=
ADMIN_USER_IDS=
