DISCORD_TOKEN=
DISCORD_APP_ID=
DISCORD_PUBLIC_KEY=
NICEHASH_API_KEY=
NICEHASH_API_SECRET=
NICEHASH_ORG_ID=
BRAIINS_API_KEY=
BRAIINS_API_SECRET=
INTERNAL_CAPACITY_API=
INTERNAL_CAPACITY_TOKEN=
ALLOWED_POOLS=stratum+tcp://yourpool:3333,stratum+tcp://anotherpool:4444
PRICE_MARGIN_BPS=500
FLOOR_USD_PER_PH_DAY=0
